<%= render 'layouts/banner' %>
<div id="l2">
	<%= render 'layouts/socialtab' %>
	<%= image_tag 'VW-detail-page-Museums.jpg', id: 'l2-hero-img' %>

	<div id="l2-left-main">
		<h1>Minnesota Marine Art Museum</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	
		<p>Nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	
		<h3>Hours &amp; Admission</h3>
	
		<h4>Hours</h4>
		<p>Tuesday - Sunday 10am - 5pm<br />
			Closed Mondays and Holidays</p>
	
		<h4>Admission</h4>
		<p>Children age 4 and under Free<br />
			Students $3<br />
			Adults and Senior Citizens $6<br />
			Immediate Family Rate Cap $20<br />
			<a href="#">MMAM Members FREE!</a>
		</p>
		<p>Students of all ages are admitted free each Tuesday.</p>
	
		<h4>Also Explore:</h4>
		<p><a href="#">Group tours</a><br />
			<a href="#">Museum itneraries</a><br />
			<a href="#">Events calendar</a>
		</p>
	</div>

	<div id="l2-right-sidebar">
		<div><%= image_tag 'http://placehold.it/221x207' %></div>
		<div><%= image_tag 'http://placehold.it/221x207' %></div>
		<div><%= image_tag 'http://placehold.it/221x207' %></div>

	</div>

</div>