<!DOCTYPE html>
<html>
<head>
  <title>Visitwinona</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <script>
  $(document).ready(function(){
    var curtainopen = false;
   $("div#nav ul li").hover(function(){
    
    $("div#curtain").slideToggle("slow");
   });
  });

  </script>


</head>
<body>

	<div id="header-container">
		<div id="header">
			<img src="assets/logo.png" alt="Visit Winona - Historic Island City" style="display:block;float:left;" />

			<ul id="utility-nav" style="">
				<li><a href="#">Home</a></li>
				<li><a href="#">Site map</a></li>
			</ul>
      <img src="assets/tagline.png" alt="spectacular BEAUTY, remarkable ARTS AND CULTURE, outdoor ADVENTURE"
      style="float:right;margin-top:-35px;"/>

      <div id="nav">
        <ul>
         <li class="border-red"><a href="#">Sightseeing<br /><span class="nav-sub">Spectacular Views</span></a></li>
         <li class="border-red"><a href="#">Signature Festivals<br /><span class="nav-sub">Beethoven to Bluegrass</span></a></li>
         <li class="border-red"><a href="#">Outdoor Recreation<br /><span class="nav-sub">Paddle, Climb, Hike or Relax</span></a></li>
         <li class="border-red"><a href="#">Arts And Heritage<br /><span class="nav-sub">Cultural Treasures</span></a></li>
         <li class="border-red"><a href="#">Food And Drink<br /><span class="nav-sub">Tastes of Winona</span></a></li>
         <li class="border-red"><a href="#">Hotels And B&amp;BS<br /><span class="nav-sub">Sweet Dreams</span></a></li>
        </ul>
      </div>
		</div>
    
	</div>

  <div id="curtain" style="width:100%;height:200px;background-color:blue;margin-top:200px;position:absolute;z-index:99;display:none;"></div>

 

	<div style="height: 100%; margin: 0px auto -84px auto; color:#000000; overflow:auto;background-color:#e5e2dc;">
              <div style="height:200px;"></div>


              <%= image_tag 'winter-main.jpg', id: "main-pict" %>
              
            <div class="content content-gradient" style="">
              <%= yield %>
            </div>



       <div style="height:84px;"></div>

	

	<div id="footer-container">
    <div id="footer">
      <a href="#" id="explore-mn"></a>
      <a href="#" id="local-maps"></a>
      <a href="#" id="reconnect"></a>
      <div id="mid-links">
        
        <div id="footer-col-1" class="footer-col">
          <h4><a href="#">Winona Now</a></h4>
          <ul>
            <li><a href="#">News coverage</a></li>
            <li><a href="#">Insider blogs</a></li>
            <li><a href="#">Event Calendar</a></li>
          </ul>
        </div>
        <div class="footer-divider"></div>
        <div id="footer-col-2" class="footer-col">
          <h4><a href="#">Connect with us</a></h4>
          <ul>
            <li><a href="#">Ask an expert</a></li>
            <li><a href="#">Social media</a></li>
            <li><a href="#">Contact us</a></li>
            <li><a href="#">Get our e-newsletter</a></li>
          </ul>
        </div>
        <div class="footer-divider"></div>
        <div id="footer-col-3" class="footer-col">
          <h4><a href="#">Plan your visit</a></h4>
          <ul>
            <li><a href="#">Local maps</a></li>
            <li><a href="#">Around the area</a></li>
            <li><a href="#">Community directory</a></li>
            <li><a href="#">Packages</a></li>
            <li><a href="#">Itenerary ideas</a></li>
          </ul>
        </div>
       <div class="footer-divider"></div>
        <div id="footer-col-4" class="footer-col">
        <h4><a href="#">Meet in Winona</a></h4>
          <ul>
            <li><a href="#">Meeting guide</a></li>
            <li><a href="#">Group tour planner</a></li>
            <li><a href="#">Meeting facilities</a></li>
          </ul></div>
      </div>  

      <div id="social">
        <a href="#" id="newsletter">Sign up for our e-newsletter</a>
        <ul>
          <li><a href="#" id="facebook"></a></li>
          <li><a href="#" id="pinterest"></a></li>
          <li><a href="#" id="twitter"></a></li>
          <li><a href="#" id="youtube"></a></li>
          <li><a href="#" id="rss"></a></li>

        </ul>
      </div>
    </div>

	</div>

</body>
</html>
  