<!DOCTYPE html>
<html>
<head>
  <title>Visitwinona - L2</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <script>
  $(document).ready(function(){
    var curtainopen = false;
   $("div#nav ul li").hover(function(){
    
    $("div#curtain").slideToggle("slow");
   });
  });

  </script>


</head>
<body style="background-color:#e5e2dc;">

	<%= render 'layouts/header' %>

  <div id="curtain" style="width:100%;height:200px;background-color:blue;margin-top:200px;position:absolute;z-index:99;display:none;"></div>

 

	<!--<div style="height: 100%; margin: 0px auto -84px auto; color:#000000; overflow:auto;background-color:red;/*#e5e2dc;*/"> -->
              <div style="height:200px;"></div>


              <%#= image_tag 'winter-main.jpg', id: "main-pict" %>
              
            <div class="content content-gradient" style="">
              <%= yield %>
            </div>



       <div style="height:84px;"></div>

	

	<%= render 'layouts/footer' %>

</body>
</html>
  